---
import Base from "../layouts/Base.astro";
---

<Base title="Rubidiom, LLC">
  <main class="container" role="main">
    <h1>Rubidiom, LLC</h1>
    <h2>Crafting Web Software</h2>
    <h3>We build robust web applications with Ruby and JavaScript.</h3>
  </main>
</Base>
